* {
     box-sizing: border-box;
}
/* -------------------------------- */
body {
     font-weight: bold;
     padding-bottom: 4em;
}
/* -------------------------------- */

/* -------------------------------- */
textarea {
     resize: none;
}

/* -------------------------------- */

#commentBtns {
     background-color: #0054b8;
     color: white;
     padding: 5px 20px;
     font-weight: bold;
     text-decoration: none;
     border: none;
}
/* -------------------------------- */
#commentInput {
     background-color: aliceblue;
     border: solid 2px #0054b8;
     transition: 0.1s;
}

#commentInput:focus {
     background-color: #ffd;
}

#commentInput:hover {
     background-color: #ffd;
}
/* -------------------------------- */
#deleteBtn {
     border: none;
     background-color: transparent;
     display: none;
     margin-right: 1rem;
}
/* -------------------------------- */
#deleteImg {
     font-size: 15px;
     background-color: transparent;
     margin-right: 1rem;
     transition: 0.1s;
}

#deleteImg:hover {
     color: red;
}
/* -------------------------------- */
#eachMessage {
     border-top: solid 5px #5f5f5f;
     background-color: #e9ecef;
}

/* -------------------------------- */
#editBox {
     background-clip: padding-box;
     transition: 0.1s;
}

#editBox:active {
     background-color: #e9ecef;
}

#editBox:hover {
     background-color: #e9ecef;
     background-clip: padding-box;
}

/* -------------------------------- */
#index-card {
     font-weight: bolder;
}

#indexBtn {
     background-color: #0054b8;
     color: white;
     border: solid 5px #0054b8;
     padding: 10px 40px;
     font-weight: bold;
     text-decoration: none;
     transition: all 150ms linear;
}

#indexBtn:hover {
     border: solid 5px #cb8;
}

/* -------------------------------- */

#messageBtns {
     background-color: #0054b8;
     color: white;
     padding: 5px 20px;
     font-weight: bold;
     text-decoration: none;
     border: none;
}
/* -------------------------------- */

#modalForm {
     font-weight: bold;
}
/* -------------------------------- */
#modalView {
     width: 100%;
     background-color: #e9ecef;
     border: solid 4px #cb8;
     border-radius: 20px;
     padding: 20px;
     font-size: 21px;
     font-weight: normal;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     transition: 0.3s;
}

#modalView:hover {
     background-color: #e3eaf3;
     border: solid 4px #3bd;
}
/* -------------------------------- */
#msgInput {
     border: none;
     outline: none;
}
/* -------------------------------- */

#myBtn {
     background-color: #0054b8;
     color: white;
     border: none;
     padding: 5px 40px;
     font-weight: bold;
     text-decoration: none;
     transition: all 150ms linear;
}
#myBtn:hover {
     background: #cb8;
     color: white;
     border: none;
     text-decoration: none;

     /* shrink effect */
     transition: all 250ms linear;
}
/* -------------------------------- */

.myBtn {
     background-color: #0054b8;
     color: white;
     border: none;
     padding: 5px 40px;
     font-weight: bold;
     text-decoration: none;
     transition: all 150ms linear;
}
.myBtn:hover {
     background: #cb8;
     color: white;
     border: none;
     text-decoration: none;

     /* shrink effect */
     transition: all 250ms linear;
}

/* -------------------------------- */

#myComment {
     margin-top: 0;
     padding: 10px;
     border: dotted 3px transparent;
     transition: 0.1s;
}

#myComment:hover {
     border: dotted 3px black;
     background-color: #ffd;
}

#myComment:hover #deleteBtn {
     display: block;
}

/* -------------------------------- */

#my_link {
     text-decoration: underline;
     color: #007bff;
}
/* -------------------------------- */
#myMessage {
     padding: 10px;
     margin-top: 0;
     background-color: #e9ecef;
     transition: 0.1s;
}

#myMessage:hover {
     background-color: #ffd;
     border: solid 2px #0045b8;
}

#myMessage:hover #deleteBtn {
     display: block;
}

/* -------------------------------- */
#myNav {
     background-color: #e9ecef;
     font-weight: bold;
     line-height: .75;
}
/* -------------------------------- */

.myRadio {
     opacity: 0;
}
/* -------------------------------- */

#myUser {
     padding: 10px;
     transition: 0.3s;
}

#myUser:hover {
     font-size: 120%;
}

/* -------------------------------- */

#nameSearch {
     background-color: transparent;
     transition: 0.1s;
}

#nameSearch:hover {
     background-color: #fff;
}

/* -------------------------------- */
.nav-item {
     text-transform: uppercase;
     font-size: 15px;
     font-weight: 450;
     display: inline-block;
     padding: .75em;
}
/* -------------------------------- */
#navLink {
     text-transform: uppercase;
     cursor: pointer;
     font-weight: 550;
     display: inline-block;
     padding: 1em;
     transition: 0.1s;
}

#navLink:hover {
     border-radius: 100px;
     background-color: #ddd;
}

/* -------------------------------- */

#sendBtn {
     font-size: 125%;
}

/* -------------------------------- */
#userDetails {
     font-weight: normal;
}
