* {
     box-sizing: border-box;
}
/* -------------------------------- */
body {
     font-weight: bold;
     padding-bottom: 4em;
}
/* -------------------------------- */

/* -------------------------------- */
textarea {
     resize: none;
}

/* -------------------------------- */

#commentBtns {
     background-color: #0054b8;
     color: white;
     padding: 5px 20px;
     /* box-shadow: 5px 5px #cb8; */
     font-weight: bold;
     text-decoration: none;
     border: none;
}
/* -------------------------------- */
#commentInput {
     background-color: aliceblue;
     border: solid 2px #0054b8;
     transition: 0.1s;
}

#commentInput:focus {
     background-color: #ffd;
}

#commentInput:hover {
     background-color: #ffd;
}
/* -------------------------------- */
#deleteBtn {
     border: none;
     background-color: transparent;
     display: none;
}
/* -------------------------------- */
#deleteImg {
     font-size: 20px;
     background-color: transparent;
     transition: 0.1s;
}

#deleteImg:hover {
     color: red;
}

/* -------------------------------- */
#editBox {
     background-clip: padding-box;
     transition: 0.1s;
}

#editBox:hover {
     background-color: #e9ecef;
     background-clip: padding-box;
}

/* -------------------------------- */
#indexBtn {
     background-color: #0054b8;
     color: white;
     border: solid 5px white;
     padding: 10px 40px;
     font-weight: bold;
     text-decoration: none;
     transition: all 150ms linear;
}

#indexBtn:hover {
     border: solid 5px #cb8;
}
/* -------------------------------- */

#messageBtns {
     background-color: #0054b8;
     color: white;
     padding: 5px 20px;
     /* box-shadow: 5px 5px #cb8; */
     font-weight: bold;
     text-decoration: none;
     border: none;
}
/* -------------------------------- */

#modalForm {
     font-weight: bold;
}
/* -------------------------------- */
#modalView {
     width: 100%;
     background-color: #e9ecef;
     border: solid 4px #cb8;
     border-radius: 20px;
     padding: 20px;
     font-size: 21px;
     font-weight: normal;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     transition: 0.3s;
}

#modalView:hover {
     background-color: #e3eaf3;
     border: solid 4px #3bd;
}
/* -------------------------------- */

/* #msgInput {
     height: 50px;
     background-color: rgb(197, 230, 247);
     border: solid 4px #3bd;
     font-size: 10pt;
    
     color: #262626;
     padding-left: 15px;
     resize: none;

     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     transition: all 0.5s ease;
     transition: width 0.55s ease;
}

#msgInput:focus {
     height: 100px;
}

#msgInput:hover {
     height: 100px;
} */

#msgInput {
     border: none;
     outline: none;
}
/* -------------------------------- */

#myBtn {
     background-color: #0054b8;
     color: white;
     border: none;
     padding: 5px 40px;
     /* box-shadow: 5px 5px #cb8; */
     font-weight: bold;
     text-decoration: none;
     transition: all 150ms linear;
}
#myBtn:hover {
     background: #cb8;
     color: white;
     border: none;
     /* box-shadow: 5px 5px #0054b8; */
     text-decoration: none;

     /* shrink effect */
     /* -webkit-transform: scale(0.8);
     -ms-transform: scale(0.8);
     transform: scale(0.8); */
     transition: all 250ms linear;
}

/* -------------------------------- */
/* #addUserBtn {
     background-color: #0054b8;
     color: white;
     border: none;
     padding: 5px 40px;
  
     font-weight: bold;
     text-decoration: none;
     transition: all 150ms;
}
#addUserBtn:hover {
     border: solid 5px #cb8;
} */
/* -------------------------------- */

#myComment {
     padding: 10px;
     border: dotted 3px transparent;
     transition: 0.1s;
}

#myComment:hover {
     padding: 10px;
     border: dotted 3px black;
     background-color: #ffd;
}

#myComment:hover #deleteBtn {
     display: block;
}
/* -------------------------------- */
#my_link {
     text-decoration: underline;
     color: #007bff;
}
/* -------------------------------- */
#myMessage {
     padding: 10px;
     /* border: solid 1px black; */
     border: solid 4px #0045b8;
     transition: 0.1s;
}

#myMessage:hover {
     background-color: #ffd;
}

#myMessage:hover #deleteBtn {
     display: block;
}

/* -------------------------------- */
#myNav {
     background-color: #e9ecef;
     font-weight: bold;
     line-height: 1;
     /* padding: 7px; */
}
/* -------------------------------- */

.myRadio {
     opacity: 0;
}
/* -------------------------------- */

#myUser {
     padding: 10px;
     transition: 0.3s;
}

#myUser:hover {
     font-size: 120%;
}

/* -------------------------------- */

#nameSearch {
     background-color: transparent;
     transition: 0.1s;
}

#nameSearch:hover {
     background-color: #fff;
}

/* -------------------------------- */
.nav-item {
     text-transform: uppercase;
     font-size: 15px;
     font-weight: 450;
     display: inline-block;
     padding: 1em;
}
/* -------------------------------- */
#navLink {
     text-transform: uppercase;
     cursor: pointer;
     font-weight: 550;
     display: inline-block;
     padding: 1em;
     transition: 0.1s;
}

#navLink:hover {
     border-radius: 100px;
     background-color: #ddd;
}

/* -------------------------------- */

#sendBtn {
     font-size: 125%;
}

/* -------------------------------- */
#userDetails {
     font-weight: normal;
}
