<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/style.css">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/47aea27298.js" crossorigin="anonymous"></script>
    <!-- google icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Link to jQuery  -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <!-- w3schools -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<!-- --------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------- -->

<body>
    <div id="myNav">
        <div class="container">
            <div class="row">
                <div class="col justify-content-between">
                    <ul class="nav">
                        <div class="col">
                            <div class="row">
                                <li class="nav-item" style="margin-right:10px;">
                                    <span class="navbar-text">
                                        {% if request.session.user_level == "1" %}
                                        <a id="navLink" href="/user_dashboard/dashboard_admin/">Dashboard</a>
                                        {% endif %}
                                        {% if request.session.user_level == "0" %}
                                        <a id="navLink" href="/user_dashboard/dashboard/">Dashboard</a>
                                        {% endif %}
                                    </span>
                                </li>
                                <li class="nav-item">
                                    <span class="navbar-text">
                                        | <a id="navLink"
                                            href="/user_dashboard/users/show/{{request.session.user_id}}/">Profile</a>
                                    </span>
                                </li>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row justify-content-center">
                                <li class="nav-item" style="margin-right:30px;">
                                    <span class="navbar-text">
                                        Admin Dashboard
                                    </span>
                                </li>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row justify-content-end">
                                <li class="nav-item">
                                    <span class=" navbar-text">
                                        <a id="navLink" href="/user_dashboard/logout/">Log out</a>
                                    </span>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="border-bottom: solid #cb8 10px;"></div>
    <!-- --------------------------------------------------------------------- -->
    <!--                      header & add user button                        -->
    <!-- --------------------------------------------------------------------- -->
    <div class="container" style="padding: 20px 0 20px 0;">
        <div class="row">
            <div class="col">
                <h4 style="padding: 0 0 50px 0;">Manage Users</h4>
            </div>
        </div>

        <!-- ------------------------------------------------------- -->
        <!--               input: search by name                     -->
        <!-- ------------------------------------------------------- -->
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-4">
                <form action="/user_dashboard/search_by_name/" id="searchForm">
                    {% csrf_token %}
                    <label class="sr-only" for="nameSearch">Search by name</label>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="material-icons">
                                    person_search
                                </span>
                            </div>
                        </div>
                        <input type="text" name="name" class="form-control" id="nameSearch"
                            placeholder="Search by name">
                    </div>
                </form>
            </div>
            <div class="col">
                <div class="row justify-content-end" style="margin-right: 20px;">

                    <!-- LINK TO ADD A USER PAGE: users_new.html  -->
                    <a class="addUserBtn" href="/user_dashboard/users_new/"
                        style="background-color:#38e; color: white; padding: 5px 30px; box-shadow: 5px 5px #cb8; font-weight: bold; text-decoration: none;">
                        Add new <span class="material-icons" style="font-size: 1.2em;">
                            person_add_alt_1
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <!-- ------------------------------------------------------- -->
        <!--               LOOP: USERS : TABLE                       -->
        <!-- ------------------------------------------------------- -->
        <div class="row">
            <div class="col">
                <table class="table table-striped table-bordered table-hover" id="table_placeholder"
                    style="border:solid black 2px;">
                    <thead style="background-color:black; color: white;">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Created</th>
                            <th scope="col">user_level</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>

                            <td>{{ user.id }}</td>
                            <td>
                                <a href="/user_dashboard/users/show/{{user.id}}/">
                                    {{ user.first_name }} {{ user.last_name }}
                                </a>
                            </td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.created_at }}</td>

                            {% if user.user_level == "1" %}
                            <td>admin</td>
                            {% endif %}
                            {% if user.user_level == "0" %}
                            <td>normal</td>
                            {% endif %}

                            <td>

                                <a id="my_link" href="/user_dashboard/users/edit/{{user.id}}/"
                                    style="padding-right: 20px;">edit</a>

                                <!--======== MODAL FOR REMOVING A USER ================-->
                                <!-- ------------------------------------------------ -->
                                <button type="button" class="btn btn-link" data-toggle="modal"
                                    data-target="#removeModal" data-whatever="{{user.id}}"
                                    style="font-weight: bold; text-decoration: underline;">remove</button>

                                <div class="modal fade" id="removeModal" tabindex="-1"
                                    aria-labelledby="removeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="removeModalLabel">Are you sure you want to
                                                    REMOVE?</h5>
                                            </div>
                                            <div class="modal-body row justify-content-center">

                                                <form action="/user_dashboard/remove/" method="post">
                                                    {% csrf_token %}

                                                    <button type="button" class="btn btn-warning"
                                                        data-dismiss="modal">No</button>
                                                    <button type="submit" class="btn btn-danger">Yes</button>
                                                    <!-- div gets hidden input appended  -->
                                                    <div id="special-div"></div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- ------------------------------------------------------------ -->
    <!-- ------------------------------------------------------------ -->

    <script>

        // input search by name form 
        function submitAjaxform() {
            $.ajax({
                method: "post",
                url: $("#searchForm").attr("action"),
                data: $("#searchForm").serialize(),
                success: function (serverResponse) {
                    $("#table_placeholder").html(serverResponse)
                }
            });
        }

        $("input[name=name").keyup(function () {
            submitAjaxform();
        })

    </script>

    <!-- BOOTSTRAP'S: Optional JavaScript
        jQuery first, then Popper.js, then Bootstrap JS -->
    <script src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'
        integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo'
        crossorigin='anonymous'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'
        integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6'
        crossorigin='anonymous'></script>

    <!-- modal functionality -->
    <script>
        $('#removeModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data(('whatever')) // Extract info from data-* attributes

            var modal = $(this)
            modal.find('.modal-title').text('Are you sure you want to remove user: ' + recipient)

            // create <input> to hold user.id value 
            var special = $("<input>").attr("type", "hidden").attr("name", "removeID").attr("value", recipient)
            $("#special-div").append(special);
        })
    </script>

</body>

</html>