<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>dashboard/admin</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/../../static/style.css">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/47aea27298.js" crossorigin="anonymous"></script>
    <!-- google icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<!-- --------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------- -->

<body>

    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav">
                    <div class="col">
                        <div class="row">
                            <li class="nav-item" style="margin-right:30px;">
                                <span class="navbar-text">
                                    Dashboard
                                </span>
                            </li>
                            <li class="nav-item" style="margin-right:30px;">
                                <span class="navbar-text">
                                    <a href="/user_dashboard/users/edit/">Edit Profile</a>
                                </span>
                            </li>
                            <li class="nav-item">
                                <span class="navbar-text">
                                    <!-- <a href="/user_dashboard/users/edit/">Profile</a> -->
                                    <a href="/user_dashboard/users/show/{{request.session.user_id}}/">Profile</a>
                                </span>
                            </li>
                        </div>
                    </div>

                    <div class="col">
                        <div class="row justify-content-end">
                            <li class="nav-item">
                                <span class=" navbar-text">
                                    <a href="/user_dashboard/logout/">Log out</a>
                                </span>
                            </li>
                        </div>
                    </div>
                </ul>
            </div>
        </div>

    </div>
<div style="border-bottom: solid #cb8 10px;"></div>
    <!-- --------------------------------------------------------------------- -->
    <!--                                             -->
    <!-- --------------------------------------------------------------------- -->
    <div class="container" style="padding: 50px 0 0 0;">

        <div class="row">
            <div class="col">
                <h3 style=" text-align:center;">All Users</h3>
                <div class="row">
                    <div class="col">
                        <p style="text-align: center; font-weight: lighter; padding: 0 0 50px 0;">Click on a user's name to checkout their profile page where you can leave them a message</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <!-- --------------------------------------------------------------------- -->
                <!--                       LOOP: USERS: TABLE                             -->
                <!-- --------------------------------------------------------------------- -->
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Created</th>
                            <th scope="col">user_level</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>

                            <!-- user's name is a link to their profile -->
                            <td>
                                <a href="/user_dashboard/users/show/{{user.id}}/">
                                    {{ user.first_name }} {{ user.last_name }}
                                </a>
                            </td>

                            <td>{{ user.email }}</td>
                            <td>{{ user.created_at }}</td>

                            {% if user.user_level == "1" %}
                            <td>admin</td>
                            {% endif %}
                            {% if user.user_level == "0" %}
                            <td>normal</td>
                            {% endif %}

                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- --------------------------------------------------------------------- -->

    <!-- --------------------------------------------------------------------- -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>