<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" /> -->

    <title>Member Messages</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/style.css">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/47aea27298.js" crossorigin="anonymous"></script>
    <!-- google icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- w3schools -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<!-- --------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------- -->

<body>
    <div id="myNav" style="background-color: white;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="nav">

                        <div class="col">
                            <div class="row justify-content-end">
                                <li class="nav-item">
                                    <span class=" navbar-text">
                                        <a id="navLink" href="/user_dashboard/signin/">Sign in</a>
                                    </span>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="border-bottom: solid #cb8 10px;"></div>

    <!-- --------------------------------------------------------------------- -->

    <!-- --------------------------------------------------------------------- -->

    <div class="jumbotron" style="text-align:center;">
        <h5 class="display-4" style="font-weight: bold">Member Messages</h5>
        <h5 style="margin-bottom: 50px;" style="font-weight: bold">Where members can send messages to other members,
            and signing up for a membership is free!</h5>
        <div>
            <a id="indexBtn" href="/user_dashboard/register/">Click
                to Register</a>
        </div>
    </div>

    <!-- --------------------------------------------------------------------- -->
    <!--                             CARD                                      -->
    <!-- --------------------------------------------------------------------- -->
    <div class="container">
        <div class="row ">
            <div class="col" style="border-right: solid #cb8 5px; text-align: center;">
                <div class="card " style="border: none; "">
                    <!-- icon -->
                    <span style=" font-size: 3em; color: Tomato;">
                    <i class="fas fa-chalkboard-teacher"></i>
                    </span>

                    <div class="card-body ">
                        <h5 class="card-title " id="index-card">Manage Users</h5>
                        <p class="card-text ">Users with Administrative access have the ability to add, remove, and edit
                            users
                        </p>
                    </div>
                </div>
            </div>
            <!-- ------------------------------------------------------------>
            <!--                             CARD                          -->
            <!-- ---------------------------------------------------------- -->
            <div class="col" style="border-right: solid #cb8 5px; text-align: center;">
                <div class="card " style="border: none; "">

                    <!-- icon -->
                    <span style=" font-size: 3em; color: Tomato;">
                    <i class="fas fa-comments"></i>
                    </span>

                    <div class="card-body">
                        <h5 class="card-title" id="index-card">Leave messages</h5>
                        <p class="card-text">Users will be able to leave a message to another user using this
                            application</p>
                    </div>
                </div>
            </div>
            <!-- ------------------------------------------------------------>
            <!--                             CARD                          -->
            <!-- ---------------------------------------------------------- -->
            <div class="col" style=" text-align: center;">
                <div class="card " style="border: none; "">
                    <!-- icon -->
                    <span style=" font-size: 3em; color: Tomato;">
                    <i class="fas fa-user-edit"></i>
                    </span>

                    <div class="card-body">
                        <h5 class="card-title" id="index-card">Edit Users Information</h5>
                        <p class="card-text">Create and personalize your own public profile page with a description of
                            yourself</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- ------------------------------------------------------------>

    <!-- ---------------------------------------------------------- -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>