
            {% for user in users %}
            <tr>

                <td>{{ user.id }}</td>
                <td>
                    <a href="/user_dashboard/users/show/{{user.id}}/">
                        {{ user.first_name }} {{ user.last_name }}
                    </a>
                </td>
                <td>{{ user.email }}</td>
                <td>{{ user.created_at }}</td>

                {% if user.user_level == "1" %}
                <td>admin</td>
                {% endif %}
                {% if user.user_level == "0" %}
                <td>normal</td>
                {% endif %}

                <td>

                    <a id="my_link" href="/user_dashboard/users/edit/{{user.id}}/" style="padding-right: 20px;">edit</a>

                    <!--======== MODAL FOR REMOVING A USER ================-->
                    <!-- ------------------------------------------------ -->
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#removeModal"
                        data-whatever="{{user.id}}"
                        style="font-weight: bold; text-decoration: underline;">remove</button>

                    <div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="removeModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="removeModalLabel">Are you sure you want to
                                        REMOVE?</h5>
                                </div>
                                <div class="modal-body row justify-content-center">

                                    <form action="/user_dashboard/remove/" method="post">
                                        {% csrf_token %}

                                        <button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
                                        <button type="submit" class="btn btn-danger">Yes</button>
                                        <!-- div gets hidden input appended  -->
                                        <div id="special-div"></div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
  




