<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add User</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/style.css">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/47aea27298.js" crossorigin="anonymous"></script>
    <!-- google icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<!-- --------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------- -->

<body>
    <div id="myNav">
        <div class="container">
            <div class="row">
                <div class="col justify-content-between">
                    <ul class="nav">
                        <div class="col">
                            <div class="row">
                                <li class="nav-item" style="margin-right:10px;">
                                    <span class="navbar-text">
                                        {% if request.session.user_level == "1" %}
                                        <a href="/user_dashboard/dashboard_admin/">Dashboard</a>
                                        {% endif %}
                                        {% if request.session.user_level == "0" %}
                                        <a href="/user_dashboard/dashboard/">Dashboard</a>
                                        {% endif %}
                                    </span>
                                </li>
                                <li class="nav-item">
                                    <span class="navbar-text">
                                        | <a href="">Profile</a>
                                    </span>
                                </li>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row justify-content-center">
                                <li class="nav-item" style="margin-right:30px;">
                                    <span class="navbar-text">
                                        Add User
                                    </span>
                                </li>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row justify-content-end">
                                <li class="nav-item">
                                    <span class=" navbar-text">
                                        <a href="/user_dashboard/logout/">Log out</a>
                                    </span>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="border-bottom: solid #cb8 10px;"></div>
    <!-- ------------------------------------------------------------>
    <!-- ---------------------------------------------------------- -->
    <div class="container" style="padding: 50px 0 0 0;">
        <div class="row">
            <div class="col">
                <h4 style="padding: 0 0 50px 0;">Add a new user</h4>
            </div>
            <div class="col">
                <div class="row justify-content-end">
                    <a class="myBtn" href="/user_dashboard/dashboard_admin/">Return
                        to Dashboard</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ------------------------------------------------------------>
    <!-- ---------------------------------------------------------- -->
    <div class="container" style="padding-top: 50px;">
        <div class="row">
            <div class="col-5">

                <!-- ------------------------------------------------------------>
                <!--                FORM: REGISTER                            -->
                <!-- ---------------------------------------------------------- -->

                <form action="/user_dashboard/register_process/" method="post">
                    {% csrf_token %}

                    <div class="form-group row">
                        <label for="email">Email Address:</label>
                        <input name="email" type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group row">
                        <label for="first_name">First Name:</label>
                        <input name="first_name" type="text" class="form-control" id="first_name">
                    </div>
                    <div class="form-group row">
                        <label for="last_name">Last Name</label>
                        <input name="last_name" type="text" class="form-control" id="last_name">
                    </div>
                    <div class="form-group row">
                        <label for="password">Password</label>
                        <input name="password" type="password" class="form-control" id="password">
                    </div>
                    <div class="form-group row">
                        <label for="confirm_password">Password Confirmation</label>
                        <input name="confirm_password" type="password" class="form-control" id="confirm_password">
                    </div>
                    <div class="row justify-content-end">
                        <button class="myBtn" type="submit">Add User</button>
                    </div>
                </form>

            </div>
            <!-- ------------------------------------------------------------>
            <!--               SUCCESS MESSAGES                               -->
            <!-- ---------------------------------------------------------- -->
            <div class="col" style="color: green;">
                {% if good_messages %}
                <div class="messages">
                    <p>{{ good_messages }}</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- ------------------------------------------------------------>
    <!-- ---------------------------------------------------------- -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>